/**Header Styles*/
body .header:nth-child(1) {
    background: var(--primary-gradient);
    height: 60px;
    margin: 0px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
}

.header h2,
.header a {
    color: white;
}

.header li {
    margin: auto 10px;
    padding: 10px 0;
    font-size: 14px;
}

.header ul {
    display: flex;
}

.header li:hover {
    font-weight: bolder;
    border-bottom: 1px solid white;
}

/**Showcase*/
.showcase {
    background: var(--primary-gradient);
    height: 400px;
    position: relative;
    display: flex;
    overflow: visible;
}



.showcase::before {
    content: "";
    display: block;
    position: absolute;
    width: 150%;
    background: white;
    height: 150px;
    transform: skewY(4deg);
    z-index: 1;
    margin-top: 350px;
}

.showcase::after {
    content: "";
    display: block;
    position: absolute;
    width: 150%;
    background: white;
    height: 150px;
    transform: skewY(-8deg);
    z-index: 1;
    margin-top: 300px;
}

.showcase .container {
    align-self: center;
}

.showcase .grid {
    grid-template-columns: 3fr 2fr;
    grid-gap: 20px;
    overflow: visible;
}

.showcase-text {
    margin-top: -50px;
    width: 80%;
    padding-left: 40px;
    animation: come_from_right_small 1s ease-in-out;
    animation-fill-mode: forwards;
}

.showcase-text h1 {
    color: white;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.showcase-text p {
    color: white;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.enroll-now {
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 5px;
}

.enroll-now:active {
    background: white;
    color: var(--primary-color);
    font-weight: bolder;
}

.showcase-card {
    position: relative;
    overflow: visible;
    padding-right: 40px;
}

.showcase .card {
    position: absolute;
    width: 250px;
    height: 250px;
    z-index: 10000;
    margin-right: 20px;
    animation: .6s come_from_right bounce  ease-in;
    animation: 2s bounce linear infinite;
    transition: width .3s ease-in;
    transition: margin-left .3s ease-in;
}

.showcase .card:hover {
    width: 300px;
    margin-left: -25px;
}



.showcase-card p {
    margin-top: 0px;
}

.showcase-card h3 {
    color: rgb(94, 93, 93);
}

.showcase-card input {
    border: 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.showcase-card input:focus {
    outline: none;
}


.showcase button {
    display: block;
    margin: 10px 0px;
    padding: 5px 20px;
    background: rgb(4, 4, 104);
    border: 0px;
    border-radius: 4px;
    color: white;
    display: flex;
    cursor: pointer;
}

.showcase button:active {
    /* transform: translateY(2px); */
    transform: scale(.95);
    font-weight: bolder;
}

.showcase button:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.showcase-card .show-password {
    position: absolute;

}

.showcase-card .grid{
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}

.showcase-card input[type="password"] {
    grid-column: 1 / 13;
    grid-auto-columns: 100%;
}

.show-password{
    grid-column: 6 / 14;
    justify-self:end;
    margin-top: -5px
}


/**Animated Svg*/
.showcase-card .svg-container{
    position: absolute;
    margin-top: -140px;
    width: 250px;
    height: 200px;
    overflow: hidden ;
    display: flex;
}


.svg-container svg {
    width: 400%;
    margin-top: -440px !important;;
}


